@import "custom-variables";

@media screen and (max-width:1400px) {
	.container { width: auto; }
}
@media screen and (max-width:1240px) {
	.certifyassoci { justify-content: center; 
		> div:first-child { padding-bottom: 20px; }
	}
}
@media screen and (max-width:1180px) {
	nav ul li { padding: 0 10px; }
	.policyright { padding-right: 0; }
	.policyleft { padding-left: 0; }
}
@media screen and (max-width:1023px) {
	.animated {
		opacity: 1 !important;
		visibility: visible !important;
		-webkit-animation-name: none !important;
		-moz-animation-name: none !important;
		animation-name: none !important;
		-webkit-animation-duration: 0s !important;
		-moz-animation-duration: 0s !important;
		animation-duration: 0s !important;
		-webkit-animation-delay: 0s !important;
		-moz-animation-delay: 0s !important;
		animation-delay: 0s !important;
	}
	body { padding-top: 66.5px; }
	header { background-color: $white; left: 0; position: fixed; top: 0; width: 100%; z-index: 9; }
	.flexhead {
		> div {
			&:first-child { text-align: center; width: 100%; }
		}
	}
	nav { background-color: $white; height: 100%; left: 0; opacity: 0; padding: 50px 20px; position: fixed; top: 0; transition: all .25s linear; visibility: hidden; width: 100%; z-index: 23;
		&.active { opacity: 1; visibility: visible; }
		ul {
			li { display: list-item; padding: 0 10px 15px; text-align: center;
				a { border-bottom-width: 2px; padding: 0; }
			}
		}
	}
	.logofit { padding: 10px 0;
		img { width: 120px; }
	}
	#nav-icon { display: inline-block; }
	.twoshortflex>div:last-child { padding: 25px 30px; 
		p { font-size: 18px; line-height: 28px; }
	}
	.twoshortflex>div:first-child, .twoshortflex>div:last-child { background-color: $llgrey; text-align: center; width: 100%; }
	.twoshortbox:before, .twoshortbox:after { display: none; }
	.twoshortbox { background-color: $llgrey; padding: 40px 0; }
	.twoshortflex>div:last-child { padding: 0; }
	.majorproj { width: 100%; }
	.flexcoverimg { margin-bottom: 40px; }
	.twoshortflex>div:first-child { display: block; 
		h2 { color: $grey; padding-bottom: 25px; text-align: center; }
	}
	.greenbtn { font-size: 16px; }
	.contactform { padding: 40px 0; }
	.contentwhat>div>div { padding-right: 0; }
	.navbox .casualwrite { display: none; }
}
@media screen and (max-width:950px) {
	.envpolicyflex { flex-direction: column-reverse;
		&.vision {
			>div:last-child { border-left: 0; }
		}
		&.prjtflex { padding: 0 0 20px;
			&:first-child { padding-top: 50px; }
		}
		&.reverseflex { flex-direction: column-reverse; }
		&.abtpageflex {
			&.reverseflex {
				> div {
					.boxorgout { margin-bottom: 0; padding: 0; }
				}
			}
			> div {
				&:last-child { display: block; 
					span { border-bottom: 0; }
				}
				.boxorgout { margin-bottom: 0; padding: 0;
					&:before { display: none; }
				}
			}
		}
		> div { text-align: center;
			p, li { text-align: left; }
			&:first-child, &:last-child { padding: 0; width: 100%; }
			&:last-child { text-align: center; 
				span { display: inline-block; padding-bottom: 25px; }
				img { display: inline-block; }
			}
		}
	}
	.strikebg { padding: 5px 0 15px; }
	.policyicon { padding: 35px 0; }
	.lightpopup { padding: 60px 20px; }
	.closepop { right: 0; top: -30px; transform: rotate(0); }
	.plantshow, .plantbtm { padding: 30px 30px 10px; }
	.whattank { padding-bottom: 25px; }
}
@media screen and (max-width:850px) {
	.flexcoverimg>div:last-child, .flexcoverimg>div:first-child { width: 100%; }
	.flexcoverimg>div:first-child>div:last-child { padding-bottom: 10px; }
	.flexcoverimg>div:last-child { height: 200px; }
	.majorproj { padding: 40px 0 0; }
	.majorproj h2 { padding-bottom: 15px; }
	.flexcoverimg>div { padding-right: 0; }
	.careerbox { padding: 20px 0; 
		&:first-child { padding-top: 0; }
		&.reverse {
			.careerflex { padding-right: 0; 
				> div { padding: 30px; }
			}
		}
		.careerflex { padding-left: 0; 
			h2 { background-color: $org; border-bottom: 0; font-size: 26px; padding: 15px; position: static; transform: translateX(0); width: 100%; }
			> div { padding: 30px; }
		}
	}
}
@media screen and (max-width:767px) {
	.firsttoparea h1 { font-size: 38px; line-height: 48px; }
	.firsttoparea p { padding-bottom: 20px; }
	.flexcoverimg { margin-bottom: 30px; }
	.flexform>div { padding: 0 20px; }
	.formmsg  { padding: 0 20px;
		> div { padding: 25px 0 0; position: static; text-align: center; width: 100%; }
	}
	.formcontact { padding-bottom: 10px; }
}
@media screen and (max-width:680px) {
	.certifyassoci { display: none; }
	.certifyassoci>div>div { padding: 0 20px 15px; text-align: center; width: 50%; }
	.certifyassoci>div:first-child { padding-bottom: 0; }
	.certifyassoci { padding: 20px 0; }
	.greenbtn { font-size: 14px; }
	.plantbtm p { font-size: 16px; line-height: 24px; }
	.contactform { padding: 30px 0; }
}
@media screen and (max-width:640px) {
	h1 { font-size: 34px; line-height: 42px; }
	h2 { font-size: 28px; line-height: 36px; }
	h3 { font-size: 26px; line-height: 34px; }
	.twoshortflex>div:last-child p { font-size: 16px; line-height: 24px; }
	.flexcoverimg>div:first-child>div .bannerhref, .flexcoverimg>div:last-child { height: 300px; }
	.footerflex { padding: 20px 0;
		> div { text-align: center; width: 100%; 
			&:first-child { padding-bottom: 15px; }
		}
	}
	.navpaginate ul li { transform: skew(0); 
		a { padding: 10px 15px;
			span, i { transform: skew(0); }
		}
	}
	.bannersubarea { background-color: $org; background-image: none !important; }
	.careerbox.reverse .careerflex>div { padding: 20px; }
}
@media screen and (max-width:599px) {
	.singlelayerone { padding: 0; }
	.flexcareer>div { padding: 0; width: 100%; }
	.bannerarea .bannerflex { height: 400px; }
	.bannerflex { height: 300px; }
	.flexdetailstop { padding-bottom: 10px;
		&:last-child { padding-bottom: 0; }
		> div { padding-bottom: 0;
			&:first-child { font-weight: 700; width: 100%; }
			&:last-child { padding-left: 0; width: 100%;
				&:before { display: none; }
			}
		}
	}
}
@media screen and (max-width:540px) {
	.firsttoparea h1 { font-size: 36px; line-height: 44px; }
	.policyicon {
		> div { padding-bottom: 20px; width: 100%; 
			&:last-child { padding-bottom: 0; }
		}
	}
	.careerbox .careerflex h2 { font-size: 24px; }
	.flexform > div { padding: 0; width: 100%; }
	.formmsg { padding: 0; }
	.sendbtn { padding: 10px 15px; }
	.formcontact { padding-bottom: 5px; }
	.contentwhat>div { padding: 30px 20px;
		h2 { font-size: 24px; line-height: 32px; }
	}
}
@media screen and (max-width:480px) {
	.firsttoparea h1 small { display: inline-block; }
	.careerbox .careerflex .btnracks ul { display: flex; justify-content: space-between;
		li { margin: 0; padding: 0 0 15px;
			&:first-child { padding-right: 0; }
			&:last-child { padding-left: 0; }
		}	
	}
	.formcareer>div h2 { font-size: 24px; line-height: 32px; padding-bottom: 15px; }
	.bannerflex { height: 280px; }
}
@media screen and (max-width:350px) {
	.navpaginate ul li a { padding: 10px; }
	.plantshow, .plantbtm { padding: 30px 15px 10px; }
	.lightpopup { padding: 50px 15px; }
	.twoshortflex>div:first-child h2 small { display: inline; }
	.plainbtn i { margin-left: 5px; }
}