@import "normalize";
@import "slick"; 
/* @import "CSS:css/responsive"; */
@import "custom-variables";

/* Common css */
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.center-block {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-left:0px;
  padding-right:0px;
}
.row .center-block {
	padding-left:15px;
	padding-right:15px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.fL { float:left; }
.fR { float:right; }
.text-center { text-align:center; }
.text-right { text-align:right; }
.text-left { text-align:left; }
.text-uppercase { text-transform:uppercase; }
a, a:focus, input:focus, textarea:focus, select:focus { outline:none; text-decoration:none;}
img { max-width:100%; vertical-align:middle;}
figure {margin:0;}
dl, dt, dd {margin:0;}
blockquote, ul, li, ol, h1, h2, h3, h4, h5, h6, p { margin:0; padding:0; }
li { list-style:none; }
textarea { resize: none; }
input[type="text"], input[type="password"], textarea { border-radius: 0; appearance: none; }
.container { margin: 0 auto; padding: 0 15px; width: 1360px; }

/* Font Initialize 
@font-face {
  font-family:'RotisSansSerif';
  src: url('../fonts/RotisSansSerifLight.eot');
  src: url('../fonts/RotisSansSerifLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RotisSansSerifLight.woff') format('woff'),
    url('../fonts/RotisSansSerifLight.woff2') format('woff2'),
    url('../fonts/RotisSansSerifLight.ttf') format('truetype'),
    url('../fonts/RotisSansSerifLight.otf') format('opentype'),
    url('../fonts/RotisSansSerifLight.svg#RotisSansSerifLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2122;
}
*/

/* Basic setup */
html { background-color: $white; }
body { background-color: $white; color: $grey; font: 400 16px/24px $font; opacity: 0; }
.coverBG { background-size: cover; background-repeat: no-repeat; }
h1 { color: $white; font: 700 40px/50px $font; padding-bottom: 25px; }
h2 { color: rgba($white, .7); font: 700 34px/42px $font; padding-bottom: 25px; }
h3 { color: $black; font: 700 28px/38px $font; padding-bottom: 15px; }
h4 { color: $black; font: 700 24px/34px $font; padding-bottom: 15px; }
h5 { color: $black; font: 700 22px/30px $font; padding-bottom: 15px; }
h6 { color: $black; font: 700 18px/28px $font; padding-bottom: 10px; }
p { padding-bottom: 25px; }
a { color: $org; transition: all .3s linear; }
::-moz-selection { background: $org; color: $white; }
::selection { background: $org; color: $white; }

/* Animation */
.animated { opacity: 0; animation-fill-mode: both; }
.fadeInUp { animation-name: fadeInUp; animation-delay: .4s; animation-duration: .25s; }
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Homepage */
.btn { display: inline-block; outline: none; padding: 10px 25px; text-align: center; 
  &.readnowbtn { background-color: transparent; border: 1px solid $white; color: $white; 
    &:hover { background-color: $white; color: $org; }
  }
}
.greenbtn { background-color: $green; color: $white; display: inline-block; font-size: 18px; line-height: 26px; outline: none; padding: 10px; text-align: center; 
  img { margin-left: 10px; transform: translateX(0); transition: all .25s linear; }
  &:hover { background-color: rgba($green, .7); 
    img { transform: translateX(5px); }
  }
}
header { background-color: $white; border-bottom: 1px solid $org; padding: 0; position: relative; z-index: 5; }
#nav-icon { cursor: pointer; display: none; height: 24px; opacity: 1; left: 15px; position: absolute; transition: all 0.5s ease-in-out; top: 21px; width: 30px; z-index: 25;
  &.active {
    span { background: $org;
      &:nth-child(1) { left: 50%; top: 15px; width: 0%; }
      &:nth-child(2) { transform: rotate(45deg); }
      &:nth-child(3) { transform: rotate(-45deg); }
      &:nth-child(4) { left: 50%; top: 15px; width: 0%; }
    }
  }
  span { background: $org; display: block; height: 3px; left: 0; opacity: 1; position: absolute; transform: rotate(0deg); transition: all 0.5s ease-in-out; width: 100%; 
    &:nth-child(1) { top: 0px; }
    &:nth-child(2), &:nth-child(3) { top: 8px; }
    &:nth-child(4) { top: 16px; }
  }
}
.flexhead { display: flex; justify-content: space-between; }
.navbox { align-items: flex-end; display: flex; }
.logofit { display: inline-block; padding: 15px 0; }
nav {
  ul {
    li { display: inline-block; padding: 0 20px;
      &.active { 
        a { border-bottom-color: $black; }
      }
      a { border-bottom: 3px solid transparent; color: rgba($hdclr, .9); display: inline-block; font-size: 14px; font-weight: 600; letter-spacing: 1.5px; line-height: 25px; padding: 25px 0; text-transform: uppercase; 
        &:hover { color: $org; }
      }
    }
  }
}
.bannerarea { background-color: $org; position: relative; z-index: 3;
 /*  &:before { background: url(../images/bgtop.png) no-repeat center center; content: ''; height: 360px; position: absolute; right: 100px; top: 50%; transform: translateY(-50%); width: 700px; z-index: -1; } */
  #myVideo {
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      z-index: -1;
  }
}
.bannerflex { align-items: center; display: flex; height: 500px; justify-content: flex-start; }
.firsttoparea {
  h1 { border-bottom: 1px solid $black; display: inline-block; font-size: 46px; line-height: 56px; margin-bottom: 20px; padding-bottom: 10px;
    small { display: block; font-size: 100%; font-weight: 400; }
  }
  p { color: $white; padding-bottom: 50px; }
}
.twoshortbox { background-color: $llgrey; position: relative; z-index: 2;
  &:before { background-color: $lgrey; border-top: 5px solid $org; left: 0;  content: ''; height: 100%; position: absolute; top: 0; width: 50%; z-index: -1; }
}
.twoshortflex { display: flex; flex-wrap: wrap;
  > div {
    &:first-child { align-items: center; display: flex; justify-content: center; width: 420px; 
      h2 { padding-bottom: 0; text-transform: uppercase;
        small { display: block; font-size: 100%; font-weight: 400; text-transform: lowercase; }
      }
    }
    &:last-child { background-color: $llgrey; padding: 50px; width: calc(100% - 420px); 
      p { font-size: 22px; line-height: 32px; padding-bottom: 0; 
        strong { display: block; }
        span { display: block; padding: 10px 0; }
        a { color: $org; display: inline-block; 
          &:hover { color: $black; }
        }
      }
    }
  }
}
.flexcoverimg { display: flex; flex-wrap: wrap; margin-bottom: 50px;
  > div { padding-right: 10px;
    &:first-child { display: flex; flex-wrap: wrap; width: 65%; 
      > div { width: 100%;
        &:first-child { padding-bottom: 10px; }
        .bannerhref { height: 200px; }
      }
    }
    &:last-child { width: 35%; 
      .bannerhref { height: 100%; }
    }
  }
}
.majorproj { margin: 0 auto; padding: 50px 0 20px; width: 70%;
  h2 { color: $black; font-weight: 400; letter-spacing: 1.5px; }
}
.bannerhref {
  &:hover {
    a { opacity: 1; visibility: visible; transform: scale(1); }
  }
  a { align-items: center; background-color: rgba($black, .75); display: flex; height: 100%; justify-content: center; opacity: 0; padding: 40px; transform: scale(.8); transition: all .3s ease-in-out; visibility: visible;
    h4 { color: $white; font-weight: 400; }
    p { color: $white; padding-bottom: 0; }
  }
}
.certifyassoci { border-top: 1px solid $bdgrey; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 25px 0;
  > div { align-items: center; display: flex; flex-wrap: wrap;
    > div { padding: 0 20px; 
      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }
    }
  }
}
.footerflex { border-top: 1px solid $bdgrey; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 30px 0;
  > div {
    p { color: $hdclr; font-size: 12px; padding-bottom: 0; 
      a { color: $hdclr; display: inline-block; 
        &:hover { color: $org; }
      }
    }
    ul {
      li { display: inline-block; padding: 0 20px;
        a { color: $logogrey; display: inline-block; 
          &:hover { color: $org; }
        }
        &:first-child { padding-left: 0; }
        &:last-child { padding-right: 0; }
      }
    }
  }
}

/* Policy and About */
.bannersubarea {
  h1 { border-bottom: 0; margin-bottom: 0; padding-bottom: 0; text-shadow: 0px 4px 9px rgba(0, 0, 0, 1); }
}
.envpolicy { background-color: $llgrey; margin-bottom: 50px; }
.strikebg { background-color: $llgrey; position: relative; z-index: 2;
  &:before { background: url('../images/abtflexbg.jpg') no-repeat center center; background-size: cover; content: ''; height: 100%; left: 0; opacity: .1; position: absolute; top: 0; width: 100%; z-index: -1; }
}
.envpolicyflex { display: flex; flex-wrap: wrap; padding: 40px 0;
  &.reverseflex { flex-direction: row-reverse; }
  &.abtpageflex { padding-bottom: 0;
    > div { padding: 0 20px; 
      .greenbtn { margin-bottom: 35px; }
      &:last-child { align-items: flex-end; display: flex; 
        span { border-bottom: 3px solid $org; }
      }
      .boxorgout { margin-bottom: 45px; padding: 50px 0 25px 30px; position: relative; z-index: 3;
        &:before { border: 3px solid $org; content: ''; height: 100%; left: 0; position: absolute; top: 0; width: calc(100% + 100px); z-index: -1; }
      }
      .btnright { text-align: right; }
    }
    &.reverseflex {
      > div {
        .boxorgout { padding: 50px 20px 25px 0;
          &:before { left: initial; right: 0; }
        }
      }
    }
  }
  &.prjtflex { padding: 40px 0; }
  &.vision {
    > div { padding: 0 20px; 
      &:first-child {
        ul { padding-left: 20px;
          li { border: 0; color: $org; list-style-type: disc; list-style-position: outside; padding: 5px 0;
            p { color: $grey; padding-bottom: 0; }
          }
        }
      }
      &:last-child { border-left: 1px solid $visgrey; }
    }
  }
  > div { padding: 0 10px; 
    h2 { color: $black; padding-bottom: 15px; 
      small { font-size: 100%; font-weight: 400; }
    }
    &:first-child { width: calc(100% - 400px); 
      ul {
        li { border-bottom: 1px solid $pbrclr; padding: 10px 0; 
          &:last-child { border-bottom: 0; }
        }
      }
    }
    &:last-child { width: 400px; }
  }
}
.policyicon { display: flex; flex-wrap: wrap; justify-content: space-between; margin: 0 auto; max-width: 750px; padding: 50px 0;
  div { text-align: center; 
    &:hover {
      > span {
        > span {
          img { filter: grayscale(0); transform: translateY(0); }
        }
      }
    }
    > span { cursor: pointer; display: inline-block; 
      &:hover {
        small { color: $org; }
      }
      > span { display: inline-block; overflow: hidden; 
        img { filter: grayscale(1); transform: translateY(50%); transition: all .2s ease-in-out; }
      }
    }
    small { display: block; font-size: 14px; padding-top: 10px; transition: all .2s ease-in-out; }
    &.active {
      > span {
        > span {
          img { filter: grayscale(0); transform: translateY(0); }
        }
      }
      small { color: $org; }
    }
  }
}

/* About */
.lightpopup { background-color: rgba($black, .75); height: 100%; left: 0; opacity: 0; overflow-y: auto; padding: 20px; position: fixed; top: 0; transition: all .3s ease-in-out; visibility: hidden; width: 100%; z-index: 19; 
  &.active { opacity: 1; visibility: visible; }
}
.middlebox { display: table; height: 100%; width: 100%; 
  > div { display: table-cell; vertical-align: middle; }
}
.planttop { margin: 0 auto; max-width: 800px; position: relative; }
.closepop { color: $white; cursor: pointer; display: inline-block; letter-spacing: 3px; position: absolute; right: -30px; text-transform: uppercase; top: 0; transform: rotate(-90deg); transform-origin: right center; transition: all .25s linear;
  &:hover { color: $org; }
  i { color: $org; padding-left: 10px; }
}
.plantshow { padding: 50px 50px 30px;
  h2 { color: $org;
    small { font-size: 100%; font-weight: 400; }
  }
  p { color: $white; }
}
.plantbtm { background-color: $lgreen; padding: 30px 50px 10px;
  p { color: $white; font-size: 20px; line-height: 28px; }
}

/*Projects */
.navpaginate { padding-bottom: 40px;
  ul { text-align: center;
    li { display: inline-block; margin: 0 -2px; transform: skew(-25deg);
      &:first-child { 
        a { 
          i { padding-right: 5px; }
        }
      }
      &:last-child {
        a { border-right: 0;
          i { padding-left: 5px; }
        }
      }
      &.active {
        a { background-color: $org; border-color: transparent; color: $white; }
      }
      a { border-right: 1px solid rgba($navgrey, .7); color: $navgrey; display: inline-block; font-size: 14px; line-height: 22px; padding: 15px 25px; 
        &:hover { background-color: $org; border-color: transparent; color: $white; }
        span, i { display: inline-block; transform: skew(25deg); }
        i { font-size: 12px; position: relative; top: 2px; }
      }
    }
  }
}

/* Careers */
.careeralllist { padding: 40px 0 20px; }
.careerbox { padding: 35px 0;
  &:hover {
    .careerflex {
      h2 { background-color: $org; }
    }
  }
  &.reverse {
    .careerflex { padding: 0 250px 0 0;
      h2 { left: initial; right: 0; }
      > div { padding: 40px 200px 40px 30px; }
    }
  }
  .careerflex { padding-left: 250px; position: relative; 
    h2 { background-color: $white; border-bottom: 5px solid $org; color: $black; left: 0; padding: 40px 20px; position: absolute; top: 50%; transform: translateY(-50%); transition: all .25s linear; text-align: center; width: 400px;
      small { font-size: 100%; font-weight: 400; }
    }
    > div { border: 3px solid $org; padding: 40px 30px 40px 200px; }
    .btnracks {
      ul {
        li { display: inline-block; margin: 0 -2px; padding: 0 30px; 
          &:first-child { padding-left: 0; }
          &:last-child { padding-right: 0; }
        }
      }
    }
  }
}
.plainbtn { color: $grey; display: inline-block; 
  i { display: inline-block; font-size: 18px; margin-left: 10px; transform: translate(0, 2px); transition: transform .15s ease-in-out; }
  &:hover { color: $org; 
    i { transform: translate(5px, 3px); }
  }
}

/* Whatwedo */
.contentwhat { background-color: $cntgrey; margin: 0 auto; max-width: 800px; position: relative;
  > div { padding: 50px 40px; 
    h2 { color: $org;
      small { font-size: 100%; font-weight: 400; }
    }
    > div { overflow-y: auto; max-height: 400px; padding-right: 30px;
      &::-webkit-scrollbar { width: 3px; }
      &::-webkit-scrollbar-track { background: $black; }
      &::-webkit-scrollbar-thumb { background: $org; width: 3px; }
      p:last-child { padding-bottom: 0; }
    }
  }
}

/* Contact */
#mapkit { height: 500px; }
.contactform { margin: 0 auto; max-width: 900px; padding: 50px 0; text-align: center;
  h2 { color: $black; font-weight: 400; letter-spacing: 2px; }
}
.inputbox { padding-bottom: 15px;
  input, select { background-color: $white; border: 0; border-bottom: 1px solid $grey; outline: none; padding: 10px 15px; transition: all .25s linear; width: 100%;
    &:focus { border-bottom: 2px solid $org; }
  }
}
.formcontact { padding-bottom: 20px; }
.flexform { display: flex; flex-wrap: wrap; 
  > div { padding: 0 30px; width: 50%; }
}
.formmsg { padding: 0 250px 0 30px; position: relative; 
  textarea { background-color: $white; border: 0; border-bottom: 1px solid $grey; display: block; outline: none; padding: 10px 15px; transition: all .25s linear; width: 100%; 
    &:focus { border-bottom: 2px solid $org; }
  }
  > div { bottom: 0; padding-left: 40px; position: absolute; right: 30px; width: 220px; }
}
.sendbtn { background-color: $white; border: 1px solid $org; color: $org; display: inline-block; width: 180px; padding: 15px; text-align: center; transition: all .3s linear; 
  &:hover { background-color: $org; color: $white; }
}

.envpolicyslider {
  .envpolicyflex {
    > div {
      &:last-child {
        span { align-items: center; display: flex; height: 100%; justify-content: center; }
      }
    }
  }
}

.policyright { padding-right: 30px; }
.policyleft { padding-left: 30px; }

@import "responsive";